!!! 5
html
  head
    title
    link(rel='shortcut icon', href='../favicon.ico')
    link(rel='stylesheet', href='http://i.icomoon.io/public/temp/d11d6145a8/UntitledProject1/style.css')
    //
       ICONS 
    link(rel='stylesheet', type='text/css', href='theme/css/component.css')
    script(src='theme/js/modernizr.custom.js')
    script(src='http://code.jquery.com/jquery-1.9.1.min.js')
    script(src='theme/js/raphael.2.1.0.min.js')
    script(type='text/javascript', src='https://www.google.com/jsapi')
    script(type='text/javascript')
      google.load('visualization', '1', {packages:['gauge']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
      var data = google.visualization.arrayToDataTable([
      ['Label', 'Value'],
      ['', #{currentTemperature}]
      ]);
      var options = {
      width: 500, height: 300,
      redFrom: 90, redTo: 120,
      yellowFrom:75, yellowTo: 90,
      minorTicks: 5,
      max: 120,
      };
      var chart = new google.visualization.Gauge(document.getElementById('chart_div'));
      chart.draw(data, options);
      }
    script(type='text/javascript')
      //Google Line chart
      var length_of_data = #{temperature.length};
      console.log(length_of_data);
      var j = new Number(5);
      for (var i=0; i<length_of_data ; i++) {
      console.log("#{temperature[0].value}");
      }
      //console.log(list.length);
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
      var data = google.visualization.arrayToDataTable([
      ['Date', 'Temperature'],
      ['#{temperature[0].time}',  #{temperature[0].value} ],
      ['#{temperature[1].time}', #{temperature[1].value} ],
      ['#{temperature[2].time}', #{temperature[2].value} ],
      ['#{temperature[3].time}', #{temperature[3].value} ],
      ['#{temperature[4].time}', #{temperature[4].value} ],
      ['#{temperature[5].time}', #{temperature[5].value} ],
      ['#{temperature[6].time}', #{temperature[6].value} ],
      ['#{temperature[7].time}', #{temperature[7].value} ],
      ['#{temperature[8].time}', #{temperature[8].value} ],
      ['#{temperature[9].time}',  #{temperature[9].value} ],
      ['#{temperature[10].time}', #{temperature[10].value} ],
      ['#{temperature[12].time}', #{temperature[12].value} ],
      ['#{temperature[13].time}', #{temperature[13].value} ],
      ['#{temperature[14].time}', #{temperature[14].value} ],
      ['#{temperature[15].time}', #{temperature[15].value} ],
      ['#{temperature[16].time}', #{temperature[16].value} ],
      ['#{temperature[17].time}', #{temperature[17].value} ],
      ['#{temperature[18].time}', #{temperature[18].value} ]
      ]);
      var options = {
      title: '',
      //hAxis.minValue: 0,
      //hAxis.maxValue: 120,
      };
      var chart = new google.visualization.LineChart(document.getElementById('line_chart_div'));
      chart.draw(data, options);i
      }
  body
    div
      .container
        #bl-main.bl-main
          section
            .bl-box
              h2.bl-icon.bl-icon-about About 
            .bl-content
              h2 About
              p
                a(href='https://docs.google.com/presentation/d/1r-xYqukf1tBdi6pyCcjZLB5qm86BcjzxRp1j4OA5ib0/edit?usp=sharing' value='LINK') Presentation
            span.bl-icon.bl-icon-close
          section#bl-work-section
            .bl-box
              h2.bl-icon.bl-icon-works Now
            .bl-content
              h2(style='width: 40%; margin-left: auto; margin-right: auto;') Temperature Now
              #chart_div(style='width: 30%; margin-left: auto; margin-right: auto;')
            span.bl-icon.bl-icon-close
          section
            .bl-box
              h2.bl-icon.bl-icon-blog Chart
            .bl-content
              h2(style='width: 30%; margin-left: auto; margin-right: auto;') Google Chart
              #line_chart_div(style='width: 900px; height: 600px;')
              //
                 Google Line Chart
            span.bl-icon.bl-icon-close
          section
            .bl-box
              h2.bl-icon.bl-icon-contact Something Else
            .bl-content
              h2
              p  
            span.bl-icon.bl-icon-close
          //
             Panel items for the works 
      //
         /container 
      style(scoped='scoped')
        #gauge-container {
        background: transparent url("http://demos.kendoui.com/content/dataviz/gauge/gauge-container-partial.png") no-repeat 50% 50%;
        width: 386px;
        height: 386px;
        text-align: center;
        margin: 0 auto 30px auto;
        }
        #gauge {
        width: 350px;
        height: 300px;
        margin: 0 auto;
        }
        #gauge-container .k-slider {
        margin-top: -11px;
        width: 140px;
        }
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(src='theme/js/boxlayout.js')
    script
      $(function() {
      Boxlayout.init();
      });

